/*Font import*/
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

/* font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto; */

*{
    margin: 0;
    padding: 0;
    font-family: "Azeret Mono", monospace;
    text-decoration: none;
}

a {
    display: block;
}

img {
    max-width: 100%;
    width: 100%;
}


.btn {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
    text-align: center;
    padding: 17px 24px;
    border: 1px solid #000;
    border-radius: 6px;
    text-transform: capitalize;
}

body {
    max-width: 1440px;
    margin: 0 auto;
}

.main {

}
/*
==== header style start here ====
*/

.header {
    background-color: white;
    padding: 38px 10px;
}

.header-content {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #000;
    font-family: Azeret Mono;
    font-size: 30px;
    font-weight: 600;
}

.logo span {
    text-transform: uppercase;
}

/*
==== hero style start here ====
*/

.hero {
    max-width: 100%;
    min-height: 652px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    justify-content: center;
}

.hero-content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 30px;
    max-width: 998px;
    text-align: center;
}

.hero-content img {
    width: 173px;
}

.hero-content h2 {
    color: rgb(13, 19, 33);
    font-size: 48px;
    font-weight: 800;
    line-height: 68px;
    letter-spacing: 0%;
    text-align: center;
}

.hero-content p {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
}

.contact-btn {
    padding: 21px 24px;
    background-color: #000;
    color: #fff;
}

/*
==== why-web-development style start here ====
*/

.why-web-development, .my-inspiration, .my-current-target {
    padding: 80px 97px;
    max-width: 1140px;
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    gap: 30px;

}

.webdev-top, .inspiration-top, .target-top {
    max-width: 852px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-bottom: 48px;
}

.section-desc {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
}

.section-heading, .section-desc {
    text-align: center;
}

.section-heading {
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-transform: capitalize;
}

.web-dev-inner-one, .web-dev-inner-two, .web-dev-inner-three {
    display: flex;
    padding: 48px;
    justify-content: space-between;
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(250,250,251,1) 100%);
    border-radius: 16px;
}

.web-dev-inner-two {
    justify-content: flex-start;
    gap: 48px;
}

.web-dev-inner-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    gap: 20px;
    max-width: 50%;
}

.web-dev-inner-img {
    max-width: 50%;
}

.web-dev-inner-text h3 {
    color: rgba(13, 19, 33, 0.7);
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: left;
}
.web-dev-inner-text p {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;
}

.btn-learnmore {
    padding: 12px 20px;
    color: rgb(13, 19, 33);
    font-size: 20px;
    font-weight: 600;
    line-height: 23px;
    letter-spacing: 0%;
}

/* 
==== my-inspiration style starts here ====
*/
.my-inspiration {
    background-color: #fff;
    padding-top: 0;
    margin-bottom: 0;
    padding-bottom: 75px;
}

.inspiration-video {
    padding: 32px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
}

.inspiration-video iframe {
    border-radius: 16px;
}

/* 
==== my-current-target style starts here ====
*/

.my-current-target {
    margin-top: 0;
    padding-top: 75px;
    background-color: #fff;
}

.target-top {
    padding-bottom: 20px;
}

.target-items {
    display: flex;
    gap: 30px;
}

.target-item {
    padding: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 16px;
}

.target-item:nth-child(1) {
    background: rgba(255, 76, 30, 0.05);
}
.target-item:nth-child(2) {
    background: rgba(0, 76, 232, 0.05);
}
.target-item:nth-child(3) {
    background: rgba(255, 223, 0, 0.05);
}

.target-item img {
    max-width: 56px;
}

.target-item a {
    color: #000;
    text-transform: capitalize;
    text-decoration: underline;
    font-weight: semi-bold;
}